<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Food in Japan</title>
    <head>
    
    <body>
    <b><font size="+2">Japan is famous for a variety of delicious food. Here are 
    some of the most popular Japanese dishes. They are a must-try if you go to 
    Japan!</b>
    
    <p><b>Sushi</b></p> <img src="/static/sushi.jpg" alt="Sushi">
    <p>This shouldn't surprise you! Japan is famous for its sushi. Common 
    varieties of sushi include <i>makizushi</i> (sushi rice and fillings rolled 
    up in nori seaweed), <i>nigiri sushi</i> (shaped, bite-size mounds of sushi 
    rice with single slices of raw fish or similar draped over the top) and 
    <i>inarizushi</i> (sushi rice stuffed inside pockets of inari; a type of 
    seasoned, fried tofu).</p>
    
    <p><b>Udon</b></p> <img src="/static/udon.jpg" alt="Udon">
    <p>Udon is another Japanese staple. Udon can be served in a number of different 
    ways (mixed into stir fries, added to hot pots, served cold with a tsuyu or 
    tentsuyu soup base on the side for dipping), but are most commonly used in 
    noodle soups, where they are served in a savoury soup broth with different 
    garnishes.</p>
    
    <p><b>Tofu</b></p> <img src="/static/tofu.jpg" alt="Tofu">
    <p>It would be a crime to not include Tofu in this list! Tofu goes well with 
    practically anything. For those of you who don't know what Tofu is, Tofu is 
    soy milk that has been coagulated, with the resulting curds being pressed 
    into blocks. These blocks come in differing levels of firmness, and can be 
    eaten uncooked (perhaps with a couple of savoury garnishes), boiled in hot 
    pots, or fried into tasty pieces of aburaage and used as a garnish.</p>
    
    <p><b>Tempura</b></p> <img src="/static/tempura.jpg" alt="Tempura">
    <p>Miss your fries? Well, I've got something even better. If you enjoy crispy 
    fried foods, then you will love tempura. Tempura are pieces or slices of 
    meat, fish, and/or vegetables that have been covered in a special tempura 
    batter and deep fried until they become crunchy and pale gold in colour.</p>
    
    <p><b>Yakitori</b></p> <img src="/static/yakitori.jpg" alt="Yakitori">
    <p>Yakitori is the Japanese version of kebabs! There are many different types 
    of yakitori, but the most common varieties are <i>momo</i> (chicken thigh), 
    <i>negima</i> (chicken and spring onion), and <i>tsukune</i> (chicken meatballs). 
    Don't worry if you can't remember all those Japanese words. There are usually 
    English menus to help you order!</p>

    <p><b>Ramen</b></p> <img src="/static/ramen.jpg" alt="Ramen">
    <p>It's easy to see why people are <i>obsessed</i> with Ramen. Ramen is one 
    of present-day Japan’s absolute favourite delicacies, costing very little 
    and being widely available in restaurants and ramen bars (which are on 
    almost every street corner). Indeed, Japanese ramen is so popular that there
    is a <i>ramen-themed museum</i> in Tokyo.</p>
    
    <img src="/static/museum.jpg" alt="Ramen Museum">
    <p>No, I'm serious! There really is a ramen-themed museum in Tokyo! Its 
    called the Shin-Yokohama Ramen Museum.</p></font>
    
    <p>The pictures and the information are retrieved from this website.
    <a href="https://www.japancentre.com/en/pages/156-30-must-try-japanese-foods">Visit Japan Centre!</a></p>

    
    

</html>

