<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <font size="+2"><p>Min-Hua Tsou</p>
    <img src="/static/japanpic.jpg" alt="Picture of Me" width="300" height="400">
    <p>Grade: Freshman</p>
    <p>Major: Biomedical Engineering</p>
    <p><a href="/jpstatistics">Want to learn more about tourism in Japan? Click 
    here for Japan's tourism statistics!</a></p>
    <p><a href="/foodinjapan">Do you like Japanese food? Clik here to learn about 
    delicious foods in Japan!</a></p>
    <p>What to learn more about Japan from a Youtuber?
    <a href="https://www.abroadinjapan.com">Visit AbroadinJapan!</a></p>
</html>

