<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <font size="+2"><p>Min-Hua Tsou</p>
    <img src="/static/japanpic.jpg" alt="Picture of Me" width="300" height="400">
    <p>Grade: Freshman</p>
    <p>Major: Biomedical Engineering</p>
    <p><a href="/jpstatistics">Where do you come from? Japan welcomes visitors 
    from countries around the globe.  Click here to see a table of visitor 
    arrivals to Japan by year. </a></p>
    <p><a href="/foodinjapan">Do you like Japanese food? Click here to learn about 
    some of the delicious food in Japan!</a></p>
    <p>Want to learn more about Japan from a Youtuber?
    <a href="https://www.abroadinjapan.com">Visit my favorite Youtuber, 
    AbroadinJapan!</a></p></font>
    <p>The pictures and the information are retrieved from this website.
    <a href="https://www.japancentre.com/en/pages/156-30-must-try-japanese-foods">Visit Japan Centre!</a></p>
    
     <p>The csv file of tourism statistics are retrieved from this website.
    <a href=https://statistics.jnto.go.jp/en/graph/#graph--inbound--travelers--transition>Visit Japan Tourism Statistics!</a></p>

    
</html>

